@font-face {
  font-family: 'Geomanist';
  src: url('../assets/geomanist-medium.woff2') format('woff2'),
  url('../assets/geomanist-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}