.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@example.com
        | /
        code test
      p
        | Admin account is
        code admin@example.com
        | /
        code admin

    .col-sm-12
      form.form(name='form', ng-submit='vm.login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='email', name='email', ng-model='vm.user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='vm.user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.help-block {{ vm.errors.other }}

        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Login
          = ' '
          a.btn.btn-default.btn-lg.btn-register(<% if (filters.uirouter) { %>ui-sref='signup'<% } else { %>href='/signup'<% } %>)
            | Register
<% if (filters.oauth) {%>
        hr

        .row
          .col-sm-4.col-md-3
            oauth-buttons(classes='btn-block')
<% } %>
  hr
