<% if (filters.bootstrap) { %>// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;<% if (filters.oauth) { %>
<% if (filters.facebookAuth) { %>
$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;<% } if (filters.twitterAuth) { %>
$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;<% } if (filters.googleAuth) { %>
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;<% } %>
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------
<% if (filters.facebookAuth) { %>
.btn-facebook {
  @include button-variant($btnText, $btnFacebookBackgroundHighlight, $btnFacebookBackgroundHighlight);
}<% } if (filters.twitterAuth) { %>
.btn-twitter {
  @include button-variant($btnText, $btnTwitterBackground, $btnTwitterBackgroundHighlight);
}<% } if (filters.googleAuth) { %>
.btn-google-plus {
  @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
}<% } %>
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}<% } %><% } %>
