navbar
.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@test.com
        | /
        code test
      p
        | Admin account is
        code admin@admin.com
        | /
        code admin

    .col-sm-12
      form.form(name='form', ng-submit='login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='email', name='email', ng-model='user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
            | Please enter your email and password.
          p.help-block {{ errors.other }}

        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Login
          = ' '
          a.btn.btn-default.btn-lg.btn-register(<% if (filters.uirouter) { %>ui-sref='signup'<% } else { %>href='/signup'<% } %>)
            | Register
<% if (filters.oauth) {%>
        hr

        div<% if (filters.facebookAuth) {%>
          a.btn.btn-facebook(href='', ng-click='loginOauth("facebook")')
            i.fa.fa-facebook
            |  Connect with Facebook
          = ' '<% } %><% if (filters.googleAuth) {%>
          a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
            i.fa.fa-google-plus
            |  Connect with Google+
          = ' '<% } %><% if (filters.twitterAuth) {%>
          a.btn.btn-twitter(href='', ng-click='loginOauth("twitter")')
            i.fa.fa-twitter
            |  Connect with Twitter<% } %><% } %>
  hr
