<% if (filters.oauth) { %><% if (filters.facebookAuth) { %>.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}
<% } if (filters.twitterAuth) { %>
.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}
<% } if (filters.googleAuth) { %>
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}
<% } %>
.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}<% } %>
