angular-fullstack-deps
test
.idea
src
scripts
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
/.travis.yml
gulpfile.js
Gruntfile.js
.jshintrc
/mocha.conf.js
/media
/docs
/task-utils
/.git*
/circle.yml
/.editorconfig
