.container
  p
    | Angular Fullstack v<%= pkg.version %>
    = ' | '
    a(href='https://twitter.com/tyhenkel') @tyhenkel
    = ' | '
    a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
