div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.credentials[0].value}}
      a(ng-click='confirm(user)', ng-class="user.credentials[0].confirmed ? 'confirmed' : 'confirm'", title='confirm email')
        span.glyphicon.glyphicon-ok-circle

      a.trash(ng-click='delete(user)', title='delete user')
        span.glyphicon.glyphicon-trash.pull-right
