<%_ if (filters.bootstrap) { _%>
$icon-font-path: "/assets/fonts/bootstrap/";
@import '../../node_modules/bootstrap-sass/vendor/assets/stylesheets/bootstrap';
<%_ if(filters.oauth) { _%>
@import '../../node_modules/bootstrap-social/bootstrap-social.scss';
<% }} _%>
$fa-font-path: "/assets/fonts/font-awesome/";
@import '../../node_modules/font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
<% if(!filters.bootstrap) { %>
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
<% } %>
// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin.scss';
@import 'main/main.scss';
/* endinject */
