$colors: (
  malibu: #8DD6F9,
  denim: #1D78C1,
  fiord: #465E69,
  elephant: #2B3A42,
  white: #ffffff,
  concrete: #f2f2f2,
  alto: #dedede,
  dusty-grey: #999999,
  dove-grey: #666666,
  emperor: #535353,
  mine-shaft: #333333
);

$screens: (
  large: 1024px,
  medium: 768px
);

$font-stack-body: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-stack-heading: Geomanist, sans-serif;
$font-stack-code: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;

$text-color-highlight: lighten(map-get($colors, denim), 5%);

