@import 'mixins';
@import 'functions';

.footer {
  width: 100%;
  flex: 0 0 auto;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0.4em 0;
  border-top:1px solid getColor(concrete);

  @include break {
    flex-direction: initial;
  }
}

.footer__left,
.footer__right {
  flex: 0 0 auto;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 0.25em 0;

  @include break {
    margin: 0;
    padding: 0;
  }
}

.footer__left {
  @include break {
    padding-left:1.5em;
  }
}

.footer__right {
  @include break {
    padding-right:1.5em;
  }
}

.footer__middle {
  display: none;

  @include break {
    flex: 0 0 auto;
    display: block;
  }
}

.footer__icon {
  display:inline-block;
  height:35px;

  img {
    width:auto;
    height:100%;
  }
}

.footer__link {
  font-size: getFontSize(-2);
  text-transform: uppercase;
  color: getColor(dusty-grey);

  &:not(:last-child) {
    margin-right: 1.5em;
  }

  &:hover {
    color: getColor(mine-shaft);
  }
}
