@import 'vars';
@import 'mixins';
@import 'functions';

.vote-app {
  margin: 1.5em;

  &__top {
    display: flex;
    flex-direction: column;

    @include break(medium) {
      flex-direction: row;
    }
  }

  &__influence {
    flex: 0 0 75%;
  }

  &__influence-description {
    display: flex;
    flex-direction: column;

    @include break(medium) {
      flex-direction: row;
    }
  }

  &__user-section {
    padding: 0 0 30px;

    @include break(medium) {
      flex: 0 0 25%;
      padding: 0 0 0 20px;
    }

    @include break(large) {
      border-left: 2px solid getColor(elephant);
    }
  }
  
  &__influence-section {
    flex: 0 0 50%;
  }

  &__influence-disclaimer {
    padding: 1em 0;
    font-size: smaller;
    color: red;

    @include break(medium) {
      text-align: center;
    }
  }

  &__login-button {
    margin: 20px 0;

    button {
      border: none;
      outline: none;
      color: getColor(white);
      background: getColor(elephant);
      padding: 5px 10px 5px 10px;
      border-radius: 2px;
      font-size: 13px;
      cursor: pointer;

      &:hover {
        background: black;
      }

      &:active {
        background: getColor(elephant)
      }
    }

    img {
      height: 25px;
      vertical-align: middle;
      padding-left: 5px;
    }
  }

  &__userinfo {
    outline: none;
    border: none;
    background: getColor(elephant);
    color: white;
    border-radius: 3px;
    font-size: 13px;
    display: inline-block;
    padding: 3px 10px;

    img {
      height: 25px;
      vertical-align: middle;
      margin-right: 10px;
    }  
  }

  &__self-info {
    margin-top: 10px;
  }

  &__button-area {
    margin: 5px 0;
  }

  &__update-button {
    
  }

  h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__item-title {
    font-size: 16pt;
    font-weight: bold;
    margin-right: 10px;
  }

  &__currency-list {
    display: block;

    & > li {
      display: inline-block;
      padding: 5px;
    }
  }

  &__item-card {
    display: flex;
    flex-direction: column;

    @include break(medium){
      flex-direction: row;
    }
  }

  &__score-section {
    display: flex;
    border: 1px solid lightgray;
    user-select: none;
    flex-wrap: wrap;

    @include break(medium){
      flex: 0 0 40%;
      margin-right: 30px;
      padding: 0 0 0 20px;
    }
  }

  &__item-score {
    align-self: center;
    font-size: 20pt;
    flex: 0 0 100%;
    text-align: center;

    @include break(medium){
      flex: 0 0 20%;
      text-align: left;
    }
  }

  &__item-button {
    align-self: center;
    flex: 0 0 50%;

    @include break(medium){
      flex: 0 0 40%;
    }
  }

  &__items-list {
    display: block;

    & > li {
      display: block;
      padding: 5px 0;
    }
  }

  &__currency-influence, &__vote-influence {
    color: blue;
    &:before {
      content: "♦\2009";
    }
  }

  &__currency-goldenInfluence, &__vote-golden {
    color: #bfa203;
    &:before {
      content: "♦\2009";
    }
  }

  &__currency-support, &__vote-support {
    color: green;
    &:before {
      content: "$\2009";
    }
  }

  &__vote-thumb {

  }

  &__admin {
    input, textarea, button {
      width: 100%;
    }
  }
}