@import 'mixins';
@import 'functions';

.influence-info {
  em {
    font-weight: bolder;
  }

  i {
    font-style: italic;
  }

  &__section {
    padding: 0.5em 0;
    @include break(medium) {
      padding: 0 .5em;
    }
  }
}