<% if(filters.facebookAuth) { %><a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn<% if (filters.bootstrap) { %> btn-social<% } %> btn-facebook">
  <i class="fa fa-facebook"></i>
  <span<% if (filters.i18nSupport) { %> translate="CONNECT_WITH_FACEBOOK"<% } %>><% if (!filters.i18nSupport) { %>Connect with Facebook<% } %></span>   
</a>
<% } if (filters.googleAuth) { %><a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn<% if (filters.bootstrap) { %> btn-social<% } %> btn-google">
  <i class="fa fa-google-plus"></i>
  <span<% if (filters.i18nSupport) { %> translate="CONNECT_WITH_GOOGLE_PLUS"<% } %>><% if (!filters.i18nSupport) { %>Connect with Google+<% } %></span>  
</a>
<% } if (filters.twitterAuth) { %><a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn<% if (filters.bootstrap) { %> btn-social<% } %> btn-twitter">
  <i class="fa fa-twitter"></i>
  <span<% if (filters.i18nSupport) { %> translate="CONNECT_WITH_TWITTER"<% } %>><% if (!filters.i18nSupport) { %>Connect with Twitter<% } %></span>
</a><% } %>