.header(ng-controller='NavbarCtrl')
  ul.nav.nav-pills.pull-right
    li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
      a(ng-href='{{item.link}}') {{item.title}}
  h3.text-muted <%= scriptAppName %>