
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <h1>Sign up</h1>
      <div class="well">
        <form name="form" ng-submit="register(form)" novalidate="" class="form">
          <div ng-class="{ 'has-success': form.name.$valid && submitted,          'has-error': form.name.$invalid && submitted }" class="form-group">
            <label>Name</label>
            <input type="text" name="name" ng-model="user.name" required="" class="form-control"/>
            <p ng-show="form.name.$error.required && submitted" class="help-block">A name is required</p>
          </div>
          <div ng-class="{ 'has-success': form.email.$valid && submitted,          'has-error': form.email.$invalid && submitted }" class="form-group">
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email" required="" mongoose-error="" class="form-control"/>
            <p ng-show="form.email.$error.email && submitted" class="help-block">Doesn't look like a valid email.</p>
            <p ng-show="form.email.$error.required && submitted" class="help-block">What's your email address?</p>
            <p ng-show="form.email.$error.mongoose" class="help-block">{{ errors.email }}</p>
          </div>
          <div ng-class="{ 'has-success': form.password.$valid && submitted,          'has-error': form.password.$invalid && submitted }" class="form-group">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" ng-minlength="3" required="" mongoose-error="" class="form-control"/>
            <p ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted" class="help-block">Password must be at least 3 characters.</p>
            <p ng-show="form.password.$error.mongoose" class="help-block">{{ errors.password }}</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <hr/>
</div>